<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="apworksConfiguration" type="Apworks.Config.ApworksConfigHandler, Apworks"/>
  </configSections>

  <apworksConfiguration>
    <generators>
      <generator name="defaultIdentityGenerator" kind="Identity" type="Apworks.Generators.SequentialIdentityGenerator, Apworks"/>
      <generator name="defaultSequenceGenerator" kind="Sequence" type="Apworks.Generators.SequentialIdentityGenerator, Apworks"/>
    </generators>
  </apworksConfiguration>
  
</configuration>
