<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="{A5B16946-D021-4BB6-8289-A7C931EF4B09}" Name="Apworks Framework" Language="1033" Version="2.5.4864.17368" Manufacturer="apworks.org" UpgradeCode="a50c1009-e157-4f42-866d-ccfb64f8a8ab">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <Media Id="1" Cabinet="Apworks.cab" EmbedCab="yes"/>
    
		<Feature Id="ProductFeature" Title="General" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
    
    <Property Id="WIXUI_INSTALLDIR" Value="APPROOTFOLDER"/>
    <PropertyRef Id="NETFRAMEWORK40FULL"/>
    <WixVariable Id="WixUILicenseRtf" Value="Apache20.rtf" />
    <UIRef Id="WixUI_InstallDir"/>
    <Condition Message="Apworks Framework requires .NET Framework 4.0 Full. Please install .NET Framework 4.0 Full first.">
      <![CDATA[Installed OR NETFRAMEWORK40FULL]]>
    </Condition>
  
	</Product>

	<Fragment Id="DirectoryFragment">
		<Directory Id="TARGETDIR" Name="SourceDir">
      <!--Program Files Folder-->
			<Directory Id="ProgramFilesFolder">
        <Directory Id="APPROOTFOLDER" Name="Apworks">
          <Directory Id="BINFOLDER" Name="Bin">
            <Directory Id="EXTERNALREFSFOLDER" Name="ExternalRefs"/>
          </Directory>
          <Directory Id="SCHEMASFOLDER" Name="Schemas"/>
        </Directory>
			</Directory>
      <!--Start Menu Shortcut Folder-->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationShortcut" Name="Apworks Framework"/>
      </Directory>
		</Directory>
	</Fragment>

  <Fragment Id="FileFragment">
    <!--Install Folder Components-->
    <DirectoryRef Id="APPROOTFOLDER">
      <Component Id="MiscFiles" Guid="{8CD9B43C-3AB5-4B2E-8C5D-7AAE43D0DEDA}">
        <File Id="ReleaseNotes.txt.File" Name="ReleaseNotes.txt" Source="$(var.SolutionDir)docs\ReleaseNotes.txt" DiskId="1"/>
        <File Id="Apache20.rtf.File" Name="Apache20.rtf" Source="$(var.SolutionDir)docs\Apache20.rtf" DiskId="1"/>
        <File Id="ClsLibRef.chm.File" Name="ClsLibRef.chm" Source="$(var.SolutionDir)docs\ClsLibRef.chm" DiskId="1"/>
      </Component>
    </DirectoryRef>
    <!--Bin Folder Components-->
    <DirectoryRef Id="BINFOLDER">
      <Component Id="BinFiles" Guid="{60011827-31ED-4049-A603-D0864EB74955}">
        <File Id="Apworks.dll.File" Name="$(var.Apworks.TargetFileName)" Source="$(var.Apworks.TargetPath)" DiskId="1" KeyPath="yes"/>
        <File Id="Apworks.Bus.DirectBus.File" Name="$(var.Apworks.Bus.DirectBus.TargetFileName)" Source="$(var.Apworks.Bus.DirectBus.TargetPath)" DiskId="1"/>
        <File Id="Apworks.Bus.MSMQ.File" Name="$(var.Apworks.Bus.MSMQ.TargetFileName)" Source="$(var.Apworks.Bus.MSMQ.TargetPath)" DiskId="1"/>
        <File Id="Apworks.Bus.EventAggregator.File" Name="$(var.Apworks.Bus.EventAggregator.TargetFileName)" Source="$(var.Apworks.Bus.EventAggregator.TargetPath)" DiskId="1"/>
        <File Id="Apworks.Events.Storage.General.File" Name="$(var.Apworks.Events.Storage.General.TargetFileName)" Source="$(var.Apworks.Events.Storage.General.TargetPath)" DiskId="1"/>
        <File Id="Apworks.Events.Storage.MySql.File" Name="$(var.Apworks.Events.Storage.MySql.TargetFileName)" Source="$(var.Apworks.Events.Storage.MySql.TargetPath)" DiskId="1"/>
        <File Id="Apworks.ObjectContainers.Unity.File" Name="$(var.Apworks.ObjectContainers.Unity.TargetFileName)" Source="$(var.Apworks.ObjectContainers.Unity.TargetPath)" DiskId="1"/>
        <File Id="Apworks.Repositories.EntityFramework.File" Name="$(var.Apworks.Repositories.EntityFramework.TargetFileName)" Source="$(var.Apworks.Repositories.EntityFramework.TargetPath)" DiskId="1"/>
        <File Id="Apworks.Repositories.MongoDB.File" Name="$(var.Apworks.Repositories.MongoDB.TargetFileName)" Source="$(var.Apworks.Repositories.MongoDB.TargetPath)" DiskId="1"/>
        <File Id="Apworks.Repositories.NHibernate.File" Name="$(var.Apworks.Repositories.NHibernate.TargetFileName)" Source="$(var.Apworks.Repositories.NHibernate.TargetPath)" DiskId="1"/>
        <File Id="Apworks.Storage.General.File" Name="$(var.Apworks.Storage.General.TargetFileName)" Source="$(var.Apworks.Storage.General.TargetPath)" DiskId="1"/>
        <File Id="Apworks.Storage.MySql.File" Name="$(var.Apworks.Storage.MySql.TargetFileName)" Source="$(var.Apworks.Storage.MySql.TargetPath)" DiskId="1"/>
      </Component>
      <Component Id="BinXmlDocFiles" Guid="{60EE8680-4C97-4728-A6E6-1A622549A7CE}">
        <File Id="Apworks.XML.File" Name="$(var.Apworks.TargetName).XML" Source="$(var.Apworks.TargetDir)$(var.Apworks.TargetName).XML" DiskId="1"/>
        <File Id="Apworks.Bus.DirectBus.XML.File" Name="$(var.Apworks.Bus.DirectBus.TargetName).XML" Source="$(var.Apworks.Bus.DirectBus.TargetDir)$(var.Apworks.TargetName).XML" DiskId="1"/>
        <File Id="Apworks.Bus.MSMQ.XML.File" Name="$(var.Apworks.Bus.MSMQ.TargetName).XML" Source="$(var.Apworks.Bus.MSMQ.TargetDir)$(var.Apworks.Bus.MSMQ.TargetName).XML" DiskId="1"/>
        <File Id="Apworks.Bus.EventAggregator.XML.File" Name="$(var.Apworks.Bus.EventAggregator.TargetName).XML" Source="$(var.Apworks.Bus.EventAggregator.TargetDir)$(var.Apworks.Bus.EventAggregator.TargetName).XML" DiskId="1"/>
        <File Id="Apworks.Events.Storage.General.XML.File" Name="$(var.Apworks.Events.Storage.General.TargetName).XML" Source="$(var.Apworks.Events.Storage.General.TargetDir)$(var.Apworks.Events.Storage.General.TargetName).XML" DiskId="1"/>
        <File Id="Apworks.Events.Storage.MySql.XML.File" Name="$(var.Apworks.Events.Storage.MySql.TargetName).XML" Source="$(var.Apworks.Events.Storage.MySql.TargetDir)$(var.Apworks.Events.Storage.MySql.TargetName).XML" DiskId="1"/>
        <File Id="Apworks.ObjectContainers.Unity.XML.File" Name="$(var.Apworks.ObjectContainers.Unity.TargetName).XML" Source="$(var.Apworks.ObjectContainers.Unity.TargetDir)$(var.Apworks.ObjectContainers.Unity.TargetName).XML" DiskId="1"/>
        <File Id="Apworks.Repositories.EntityFramework.XML.File" Name="$(var.Apworks.Repositories.EntityFramework.TargetName).XML" Source="$(var.Apworks.Repositories.EntityFramework.TargetDir)$(var.Apworks.Repositories.EntityFramework.TargetName).XML" DiskId="1"/>
        <File Id="Apworks.Repositories.MongoDB.XML.File" Name="$(var.Apworks.Repositories.MongoDB.TargetName).XML" Source="$(var.Apworks.Repositories.MongoDB.TargetDir)$(var.Apworks.Repositories.MongoDB.TargetName).XML" DiskId="1"/>
        <File Id="Apworks.Repositories.NHibernate.XML.File" Name="$(var.Apworks.Repositories.NHibernate.TargetName).XML" Source="$(var.Apworks.Repositories.NHibernate.TargetDir)$(var.Apworks.Repositories.NHibernate.TargetName).XML" DiskId="1"/>
        <File Id="Apworks.Storage.General.XML.File" Name="$(var.Apworks.Storage.General.TargetName).XML" Source="$(var.Apworks.Storage.General.TargetDir)$(var.Apworks.Storage.General.TargetName).XML" DiskId="1"/>
        <File Id="Apworks.Storage.MySql.XML.File" Name="$(var.Apworks.Storage.MySql.TargetName).XML" Source="$(var.Apworks.Storage.MySql.TargetDir)$(var.Apworks.Storage.MySql.TargetName).XML" DiskId="1"/>
      </Component>
      <Component Id="BinPDBFiles" Guid="{F3E8B9B4-C865-42D0-9142-F86AE5061DF8}">
        <File Id="Apworks.pdb.File" Name="$(var.Apworks.TargetName).pdb" Source="$(var.Apworks.TargetDir)$(var.Apworks.TargetName).pdb" DiskId="1"/>
        <File Id="Apworks.Bus.DirectBus.pdb.File" Name="$(var.Apworks.Bus.DirectBus.TargetName).pdb" Source="$(var.Apworks.Bus.DirectBus.TargetDir)$(var.Apworks.TargetName).pdb" DiskId="1"/>
        <File Id="Apworks.Bus.MSMQ.pdb.File" Name="$(var.Apworks.Bus.MSMQ.TargetName).pdb" Source="$(var.Apworks.Bus.MSMQ.TargetDir)$(var.Apworks.Bus.MSMQ.TargetName).pdb" DiskId="1"/>
        <File Id="Apworks.Bus.EventAggregator.pdb.File" Name="$(var.Apworks.Bus.EventAggregator.TargetName).pdb" Source="$(var.Apworks.Bus.EventAggregator.TargetDir)$(var.Apworks.Bus.EventAggregator.TargetName).pdb" DiskId="1"/>
        <File Id="Apworks.Events.Storage.General.pdb.File" Name="$(var.Apworks.Events.Storage.General.TargetName).pdb" Source="$(var.Apworks.Events.Storage.General.TargetDir)$(var.Apworks.Events.Storage.General.TargetName).pdb" DiskId="1"/>
        <File Id="Apworks.Events.Storage.MySql.pdb.File" Name="$(var.Apworks.Events.Storage.MySql.TargetName).pdb" Source="$(var.Apworks.Events.Storage.MySql.TargetDir)$(var.Apworks.Events.Storage.MySql.TargetName).pdb" DiskId="1"/>
        <File Id="Apworks.ObjectContainers.Unity.pdb.File" Name="$(var.Apworks.ObjectContainers.Unity.TargetName).pdb" Source="$(var.Apworks.ObjectContainers.Unity.TargetDir)$(var.Apworks.ObjectContainers.Unity.TargetName).pdb" DiskId="1"/>
        <File Id="Apworks.Repositories.EntityFramework.pdb.File" Name="$(var.Apworks.Repositories.EntityFramework.TargetName).pdb" Source="$(var.Apworks.Repositories.EntityFramework.TargetDir)$(var.Apworks.Repositories.EntityFramework.TargetName).pdb" DiskId="1"/>
        <File Id="Apworks.Repositories.MongoDB.pdb.File" Name="$(var.Apworks.Repositories.MongoDB.TargetName).pdb" Source="$(var.Apworks.Repositories.MongoDB.TargetDir)$(var.Apworks.Repositories.MongoDB.TargetName).pdb" DiskId="1"/>
        <File Id="Apworks.Repositories.NHibernate.pdb.File" Name="$(var.Apworks.Repositories.NHibernate.TargetName).pdb" Source="$(var.Apworks.Repositories.NHibernate.TargetDir)$(var.Apworks.Repositories.NHibernate.TargetName).pdb" DiskId="1"/>
        <File Id="Apworks.Storage.General.pdb.File" Name="$(var.Apworks.Storage.General.TargetName).pdb" Source="$(var.Apworks.Storage.General.TargetDir)$(var.Apworks.Storage.General.TargetName).pdb" DiskId="1"/>
        <File Id="Apworks.Storage.MySql.pdb.File" Name="$(var.Apworks.Storage.MySql.TargetName).pdb" Source="$(var.Apworks.Storage.MySql.TargetDir)$(var.Apworks.Storage.MySql.TargetName).pdb" DiskId="1"/>
      </Component>
    </DirectoryRef>
    <!--ExternalRefs Folder Components-->
    <DirectoryRef Id="EXTERNALREFSFOLDER">
      <Component Id="ExternalRefBinFiles" Guid="{1F02095A-043D-438A-9DAF-D881086206A1}">
        <File Id="Castle.Core.dll.File" Name="Castle.Core.dll" Source="$(var.SolutionDir)packages\Castle.Core.3.2.0\lib\net40-client\Castle.Core.dll" DiskId="1"/>
        <File Id="EntityFramework.dll.File" Name="EntityFramework.dll" Source="$(var.SolutionDir)packages\EntityFramework.5.0.0\lib\net40\EntityFramework.dll" DiskId="1"/>
        <File Id="Iesi.Collections.dll.File" Name="Iesi.Collections.dll" Source="$(var.SolutionDir)packages\Iesi.Collections.3.2.0.4000\lib\Net35\Iesi.Collections.dll" DiskId="1"/>
        <File Id="Microsoft.Practices.ServiceLocation.dll.File" Name="Microsoft.Practices.ServiceLocation.dll" Source="$(var.SolutionDir)packages\CommonServiceLocator.1.0\lib\NET35\Microsoft.Practices.ServiceLocation.dll" DiskId="1"/>
        <File Id="Microsoft.Practices.Unity.Configuration.dll.File" Name="Microsoft.Practices.Unity.Configuration.dll" Source="$(var.SolutionDir)packages\Unity.2.1.505.2\lib\NET35\Microsoft.Practices.Unity.Configuration.dll" DiskId="1"/>
        <File Id="Microsoft.Practices.Unity.dll.File" Name="Microsoft.Practices.Unity.dll" Source="$(var.SolutionDir)packages\Unity.2.1.505.2\lib\NET35\Microsoft.Practices.Unity.dll" DiskId="1"/>
        <File Id="MongoDB.Bson.dll.File" Name="MongoDB.Bson.dll" Source="$(var.SolutionDir)packages\mongocsharpdriver.1.8.1\lib\net35\MongoDB.Bson.dll" DiskId="1"/>
        <File Id="MongoDB.Driver.dll.File" Name="MongoDB.Driver.dll" Source="$(var.SolutionDir)packages\mongocsharpdriver.1.8.1\lib\net35\MongoDB.Driver.dll" DiskId="1"/>
        <File Id="MySql.Data.dll.File" Name="MySql.Data.dll" Source="$(var.SolutionDir)packages\MySql.Data.6.6.5\lib\net40\MySql.Data.dll" DiskId="1"/>
        <File Id="NHibernate.dll.File" Name="NHibernate.dll" Source="$(var.SolutionDir)packages\NHibernate.3.3.3.4000\lib\Net35\NHibernate.dll" DiskId="1"/>
      </Component>
      <Component Id="ExternalRefXmlDocFiles" Guid="{04F2671A-C8F0-4692-BBB6-CA7364C4CD63}">
          <File Id="Castle.Core.xml.File" Name="Castle.Core.xml" Source="$(var.SolutionDir)packages\Castle.Core.3.2.0\lib\net40-client\Castle.Core.dll" DiskId="1"/>
          <File Id="EntityFramework.xml.File" Name="EntityFramework.xml" Source="$(var.SolutionDir)packages\EntityFramework.5.0.0\lib\net40\EntityFramework.xml" DiskId="1"/>
          <File Id="Iesi.Collections.xml.File" Name="Iesi.Collections.xml" Source="$(var.SolutionDir)packages\Iesi.Collections.3.2.0.4000\lib\Net35\Iesi.Collections.xml" DiskId="1"/>
          <File Id="Microsoft.Practices.ServiceLocation.xml.File" Name="Microsoft.Practices.ServiceLocation.xml" Source="$(var.SolutionDir)packages\CommonServiceLocator.1.0\lib\NET35\Microsoft.Practices.ServiceLocation.xml" DiskId="1"/>
          <File Id="Microsoft.Practices.Unity.Configuration.xml.File" Name="Microsoft.Practices.Unity.Configuration.xml" Source="$(var.SolutionDir)packages\Unity.2.1.505.2\lib\NET35\Microsoft.Practices.Unity.Configuration.xml" DiskId="1"/>
          <File Id="Microsoft.Practices.Unity.xml.File" Name="Microsoft.Practices.Unity.xml" Source="$(var.SolutionDir)packages\Unity.2.1.505.2\lib\NET35\Microsoft.Practices.Unity.xml" DiskId="1"/>
          <File Id="MongoDB.Bson.xml.File" Name="MongoDB.Bson.xml" Source="$(var.SolutionDir)packages\mongocsharpdriver.1.8.1\lib\net35\MongoDB.Bson.xml" DiskId="1"/>
          <File Id="MongoDB.Driver.xml.File" Name="MongoDB.Driver.xml" Source="$(var.SolutionDir)packages\mongocsharpdriver.1.8.1\lib\net35\MongoDB.Driver.xml" DiskId="1"/>
          <File Id="NHibernate.xml.File" Name="NHibernate.xml" Source="$(var.SolutionDir)packages\NHibernate.3.3.3.4000\lib\Net35\NHibernate.xml" DiskId="1"/>
        </Component>
      <Component Id="ExternalRefPDBFiles" Guid="{D258F676-9A3A-4D99-9444-982C709C748A}">
          <File Id="Microsoft.Practices.ServiceLocation.pdb.File" Name="Microsoft.Practices.ServiceLocation.pdb" Source="$(var.SolutionDir)packages\CommonServiceLocator.1.0\lib\NET35\Microsoft.Practices.ServiceLocation.pdb" DiskId="1"/>
      </Component>
    </DirectoryRef>
  </Fragment>
  
  <Fragment Id="ProgramMenuShortcutFragment">
    <DirectoryRef Id="ApplicationShortcut">
      <Component Id="StartMenuShortcuts" Guid="{AEF9353A-77A3-4A01-9A58-6B3DB55F8CFA}">
        <Shortcut Id="ClassLibraryReferencesShortcut"
                  Name="Class Library Reference"
                  Description="Displays the Class Library Reference for Apworks."
                  Target="[APPROOTFOLDER]ClsLibRef.chm"
                  WorkingDirectory="APPROOTFOLDER"/>
        <Shortcut Id="LicenseInformationShortcut"
                  Name="License Information"
                  Description="Displays the license information."
                  Target="[APPROOTFOLDER]Apache20.rtf"
                  WorkingDirectory="APPROOTFOLDER"/>
        <Shortcut Id="ReleaseNotesShortcut"
                  Name="Release Notes"
                  Description="Displays the Release Notes."
                  Target="[APPROOTFOLDER]ReleaseNotes.txt"
                  WorkingDirectory="APPROOTFOLDER"/>
        <util:InternetShortcut Id="ProjectPortalShortcut"
                               Name="Project Portal Website"
                               Target="http://apworks.org"/>
        <Shortcut Id="UninstallProductShortcut"             
                  Name="Uninstall Apworks"
                  Description="Uninstalls Apworks Framework."
                  Target="[System64Folder]msiexec.exe"
                  Arguments="/x [ProductCode]"/>
        <RemoveFolder Id="ApplicationShortcut" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Apworks" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>
  
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="APPROOTFOLDER">
      <ComponentRef Id="MiscFiles"/>
      <ComponentRef Id="BinFiles"/>
      <ComponentRef Id="BinXmlDocFiles"/>
      <ComponentRef Id="BinPDBFiles"/>
      <ComponentRef Id="ExternalRefBinFiles"/>
      <ComponentRef Id="ExternalRefXmlDocFiles"/>
      <ComponentRef Id="ExternalRefPDBFiles"/>
      <ComponentRef Id="StartMenuShortcuts"/>
		</ComponentGroup>
	</Fragment>


</Wix>
